*.opendb
*.cln
*.db
*.exe
*.ilk
*.log
*.obj
*.pdb
*.idb
*.tlog
*.lastbuildstate
*.suo
*.ipch
*.pch
HomeStudy/TetrisOnline/0812_WinApi_Client.zip
HomeStudy/Dxstudy2/bigship1.x
HomeStudy/Dxstudy2/WarpLines2_grey.bmp
HomeStudy/Dxstudy2/zealot.X
HomeStudy/Dxstudy2/Zealot_Diffuse.bmp
HomeStudy/Dxstudy2/xFile/WarpLines2_grey.bmp
HomeStudy/Dxstudy2/xFile/zealot.X
HomeStudy/Dxstudy2/xFile/Zealot_Diffuse.bmp
